.brand-area {
   padding: 100px 0;
   background: var(--light-3);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .brand-area {
      padding: 80px;
   }
}
@media (max-width: 767px) {
   .brand-area {
      padding: 60px 0;
   }
}
.brand-area .clients-logos {
   text-align: center;
   display: inline-block;
   margin-top: 20px;
}
.brand-area .clients-logos .single-image {
   display: inline-flex;
   margin: 13px 10px;
   background-color: var(--white);
   line-height: 100px;
   padding: 8px 25px;
   border-radius: 8px;
   -webkit-transition: all 0.4s ease-out 0s;
   -moz-transition: all 0.4s ease-out 0s;
   -ms-transition: all 0.4s ease-out 0s;
   -o-transition: all 0.4s ease-out 0s;
   transition: all 0.4s ease-out 0s;
   border: 1px solid #eee;
   position: relative;
}
.brand-area .clients-logos .single-image:hover {
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.096);
   -webkit-transform: translateY(-5px);
   -moz-transform: translateY(-5px);
   -ms-transform: translateY(-5px);
   -o-transform: translateY(-5px);
   transform: translateY(-5px);
}
.brand-area .clients-logos img {
   max-width: 170px;
   transition: all 0.4s ease-in-out;
}