.navbar-toggler:focus {
   box-shadow: none;
}

.mb-100 {
   margin-bottom: 100px;
}

/*===== NAVBAR NINE =====*/
.navbar-area.navbar-nine {
   background: var(--primary);
   padding: 10px 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 9;
}
.sticky {
   position: fixed !important;
   z-index:99 !important;
   -webkit-transition: all 0.3s ease-out 0s;
   transition: all 0.3s ease-out 0s;
   top: 0;
   width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .navbar-area.navbar-nine {
      padding: 10px 0;
   }
}
.navbar-area.navbar-nine .navbar-brand {
   margin: 0;
}
.navbar-brand {
   font-size: 32px;
   margin: 0;
   padding: 0;
   line-height: 1;
   font-weight: 700;
   letter-spacing: 2px;
   text-transform: uppercase;
   position: relative;
}
.navbar-brand img {
   width: 60px;
   height: 60px;
}
.navbar-area.navbar-nine .navbar {
   position: relative;
   padding: 0;
}
.navbar-area.navbar-nine .navbar .navbar-toggler .toggler-icon {
   width: 20px;
   height: 2px;
   background-color: var(--white);
   margin: 5px 0;
   display: block;
   position: relative;
   -webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
   -ms-transition: all 0.3s ease-out 0s;
   -o-transition: all 0.3s ease-out 0s;
   transition: all 0.3s ease-out 0s;
}
.navbar-area.navbar-nine .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
   top: 7px;
}
.navbar-area.navbar-nine .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
   opacity: 0;
}
.navbar-area.navbar-nine .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
   -webkit-transform: rotate(135deg);
   -moz-transform: rotate(135deg);
   -ms-transform: rotate(135deg);
   -o-transform: rotate(135deg);
   transform: rotate(135deg);
   top: -7px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .navbar-area.navbar-nine .navbar .navbar-collapse {
      position: absolute;
      top: 116%;
      left: 0;
      width: 100%;
      background-color: var(--primary);
      z-index: 8;
      padding: 10px 16px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .navbar-area.navbar-nine .navbar {
      margin-right: 0;
   }
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item {
   position: relative;
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item a {
   display: flex;
   align-items: center;
   padding: 11px 16px;
   color: var(--white);
   text-transform: capitalize;
   position: relative;
   border-radius: 5px;
   font-weight: 500;
   -webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
   -ms-transition: all 0.3s ease-out 0s;
   -o-transition: all 0.3s ease-out 0s;
   transition: all 0.3s ease-out 0s;
   margin: 14px 0;
   opacity: 0.7;
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item a:hover {
   opacity: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .navbar-area.navbar-nine .navbar .navbar-nav .nav-item a {
      padding: 10px 0;
      display: block;
      border: 0;
      margin: 0;
   }
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item a.active {
   opacity: 1;
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item a i {
   font-size: 12px;
   font-weight: 700;
   padding-left: 7px;
   -webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
   -ms-transition: all 0.3s ease-out 0s;
   -o-transition: all 0.3s ease-out 0s;
   transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .navbar-area.navbar-nine .navbar .navbar-nav .nav-item a i {
      position: relative;
      top: -5px;
   }
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu {
   position: absolute;
   left: 0;
   top: 130%;
   width: 230px;
   background-color: var(--white);
   border-radius: 5px;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
   -ms-transition: all 0.3s ease-out 0s;
   -o-transition: all 0.3s ease-out 0s;
   transition: all 0.3s ease-out 0s;
   z-index: 99;
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
   padding: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu {
      position: relative !important;
      width: 100% !important;
      left: 0 !important;
      top: auto !important;
      opacity: 1 !important;
      visibility: visible !important;
      right: auto;
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transition: all none ease-out 0s;
      -moz-transition: all none ease-out 0s;
      -ms-transition: all none ease-out 0s;
      -o-transition: all none ease-out 0s;
      transition: all none ease-out 0s;
      box-shadow: none;
      text-align: left;
      border-top: 0;
      height: 0;
   }
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
   height: auto;
   display: block;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
      height: 0;
      display: none;
   }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu.show {
      height: auto;
   }
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li {
   position: relative;
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li .sub-nav-toggler {
   color: var(--black);
   -webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
   -ms-transition: all 0.3s ease-out 0s;
   -o-transition: all 0.3s ease-out 0s;
   transition: all 0.3s ease-out 0s;
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li a {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 8px 16px;
   position: relative;
   color: var(--dark-2);
   -webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
   -ms-transition: all 0.3s ease-out 0s;
   -o-transition: all 0.3s ease-out 0s;
   transition: all 0.3s ease-out 0s;
   border-radius: 0;
   margin: 0 0;
   z-index: 5;
   opacity: 1;
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li a i {
   font-weight: 700;
   font-size: 12px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li a i {
      display: none;
   }
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li a .sub-nav-toggler i {
   display: inline-block;
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
   right: auto;
   left: 100%;
   top: 0;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
   -ms-transition: all 0.3s ease-out 0s;
   -o-transition: all 0.3s ease-out 0s;
   transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
   .navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
      margin-left: 10px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
      padding-left: 30px;
   }
}
@media (max-width: 767px) {
   .navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
      padding-left: 30px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li .sub-menu.show {
      visibility: visible;
      height: auto;
      position: relative;
   }
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li:hover .sub-menu {
   opacity: 1;
   visibility: visible;
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li:hover .sub-nav-toggler {
   color: var(--white);
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li:hover .sub-nav-toggler {
      color: var(--primary);
   }
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li:hover > a {
   color: var(--primary);
   padding-left: 22px;
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li:hover > a i {
   color: var(--primary);
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li:hover > a {
      color: var(--primary);
   }
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li:hover > a::after {
   opacity: 1;
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li:hover > a::before {
   opacity: 1;
}
.navbar-area.navbar-nine .navbar .navbar-nav .nav-item:hover .sub-menu {
   opacity: 1;
   visibility: visible;
   top: 115%;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-nav-toggler {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 14px;
      font-size: 16px;
      background: none;
      border: 0;
      color: var(--white);
   }
}
.navbar-area.navbar-nine .navbar .navbar-btn {
   margin-top: 6px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .navbar-area.navbar-nine .navbar .navbar-btn {
      position: absolute;
      right: 70px;
      top: 7px;
   }
}
@media (max-width: 767px) {
   .navbar-area.navbar-nine .navbar .navbar-btn {
      position: absolute;
      right: 60px;
      top: 7px;
   }
}
.navbar-area.navbar-nine .navbar .navbar-btn .menu-bar {
   font-size: 22px;
   position: relative;
   overflow: hidden;
   color: var(--white);
   height: 40px;
   width: 40px;
   line-height: 40px;
   text-align: center;
   border: 1px solid rgba(238, 238, 238, 0.425);
   border-radius: 50%;
   -webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
   -ms-transition: all 0.3s ease-out 0s;
   -o-transition: all 0.3s ease-out 0s;
   transition: all 0.3s ease-out 0s;
}
.navbar-area.navbar-nine .navbar .navbar-btn .menu-bar:hover {
   border-color: transparent;
   color: var(--primary);
   background-color: var(--white);
}