.header-eight {
   min-height: 100vh;
   position: relative;
   background: var(--primary);
   display: flex;
   justify-content: center;
   align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .header-eight {
      padding: 130px 0 80px 0;
   }
}
@media (max-width: 767px) {
   .header-eight {
      padding: 100px 0 60px 0;
   }
}
.header-eight .header-image img {
   width: 100%;
   border-radius: 8px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
   .header-eight .header-image {
      margin-top: 40px;
   }
}
.header-eight .header-content {
   border-radius: 0;
   position: relative;
   z-index: 1;
   text-align: left;
}
.header-eight .header-content h1 {
   font-weight: 700;
   color: var(--white);
   text-shadow: 0px 3px 8px #00000017;
   text-transform: capitalize;
}
@media only screen and (min-width: 991px) {
   .header-eight .header-content p {
      margin-right: 3rem;
   }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .header-eight .header-content h1  {
      font-size: 35px;
      line-height: 45px;
   }
}
@media (max-width: 767px) {
   .header-eight .header-content h1  {
      font-size: 30px;
      line-height: 42px;
   }
}
.header-eight .header-content h1 span {
   display: block;
}
.header-eight .header-content p {
   margin-top: 30px;
   color: var(--white);
   opacity: 0.7;
}
.header-eight .button {
   margin-top: 40px;
}
.header-eight .primary-btn {
   margin-right: 12px;
   background-color: var(--white);
   color: var(--primary);
   border: 1px solid transparent;
}
.header-eight .primary-btn:hover {
   background-color: transparent;
   color: var(--white);
   border-color: var(--white);
}
.header-eight .video-button {
   display: inline-flex;
   align-items: center;
}
@media (max-width: 767px) {
   .header-eight .video-button {
      margin-top: 20px;
   }
}
.header-eight .video-button .text {
   display: inline-block;
   margin-left: 15px;
   color: var(--white);
   font-weight: 600;
}
.header-eight .video-button .icon-btn {
   background: var(--white);
   color: var(--primary);
}