.services-eight {
   padding: 100px 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .services-eight {
      padding: 80px 0 50px 0;
   }
}
@media (max-width: 767px) {
   .services-eight {
      padding: 60px 0 30px 0;
   }
}
.services-eight .single-services {
   padding: 40px 30px;
   border: 1px solid var(--light-1);
   border-radius: 10px;
   margin-bottom: 30px;
   cursor: default;
   -webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
   -ms-transition: all 0.3s ease-out 0s;
   -o-transition: all 0.3s ease-out 0s;
   transition: all 0.3s ease-out 0s;
}
.services-eight .single-services:hover {
   box-shadow: var(--shadow-4);
}
.services-eight .single-services:hover .service-icon {
   color: var(--white);
   border-color: transparent;
   background: var(--primary);
}
.services-eight .single-services:hover .service-icon::after {
   opacity: 1;
   visibility: visible;
}
.services-eight .single-services .service-icon {
   width: 78px;
   height: 78px;
   border-radius: 50%;
   margin-bottom: 25px;
   background: var(--white);
   border: 2px solid var(--primary);
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--primary);
   font-size: 40px;
   -webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
   -ms-transition: all 0.3s ease-out 0s;
   -o-transition: all 0.3s ease-out 0s;
   transition: all 0.3s ease-out 0s;
   position: relative;
}
.services-eight .single-services .service-icon::after {
   content: "";
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: absolute;
   opacity: 0;
   visibility: hidden;
   background: var(--primary);
   -webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
   -ms-transition: all 0.3s ease-out 0s;
   -o-transition: all 0.3s ease-out 0s;
   transition: all 0.3s ease-out 0s;
   z-index: -1;
   border-radius: 50%;
   border: 1px solid transparent;
}
.services-eight .single-services .service-content h4 {
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 20px;
}
.services-eight .single-services .service-content p {
   color: var(--dark-3);
}