.primary-btn {
   background: var(--primary);
   color: var(--white);
   box-shadow: var(--shadow-2);
}
.active.primary-btn, .primary-btn:hover, .primary-btn:focus {
   background: var(--primary-dark);
   color: var(--white);
   box-shadow: var(--shadow-4);
}
.deactive.primary-btn {
   background: var(--gray-4);
   color: var(--dark-3);
   pointer-events: none;
}

.primary-btn-outline {
   border-color: var(--primary);
   color: var(--primary);
}
.active.primary-btn-outline, .primary-btn-outline:hover, .primary-btn-outline:focus {
   background: var(--primary-dark);
   color: var(--white);
}
.deactive.primary-btn-outline {
   color: var(--dark-3);
   border-color: var(--gray-4);
   pointer-events: none;
}

.header-eight .primary-btn {
   background: var(--primary);
   color: var(--white);
   box-shadow: var(--shadow-2);
}
.header-eight .active.primary-btn, .header-eight .primary-btn:hover, .header-eight .primary-btn:focus {
   background: var(--primary-dark);
   color: var(--white);
   box-shadow: var(--shadow-4);
}
.header-eight .deactive.primary-btn {
   background: var(--gray-4);
   color: var(--dark-3);
   pointer-events: none;
}

.call-action .inner-content .light-rounded-buttons .primary-btn-outline {
   border-color: var(--primary);
   color: var(--primary);
}
.call-action .inner-content .light-rounded-buttons .active.primary-btn-outline, .call-action .inner-content .light-rounded-buttons .primary-btn-outline:hover, .call-action .inner-content .light-rounded-buttons .primary-btn-outline:focus {
   background: var(--white);
   color: var(--primary);
   border-color: transparent;
}
.call-action .inner-content .light-rounded-buttons .deactive.primary-btn-outline {
   color: var(--dark-3);
   border-color: var(--gray-4);
   pointer-events: none;
}

.contact-form-wrapper .contact-form .primary-btn {
   background: var(--primary);
   color: var(--white);
   box-shadow: var(--shadow-2);
}
.contact-form-wrapper .contact-form .active.primary-btn, .contact-form-wrapper .contact-form .primary-btn:hover, .contact-form-wrapper .contact-form .primary-btn:focus {
   background: var(--primary-dark);
   color: var(--white);
   box-shadow: var(--shadow-4);
}
.contact-form-wrapper .contact-form .deactive.primary-btn {
   background: var(--gray-4);
   color: var(--dark-3);
   pointer-events: none;
}